/*imports*/
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&subset=latin-ext");
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/*fontSizes*/
/*font weights*/
/*fontStyle*/
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local("Lato Hairline"), local("Lato-Hairline"), url(https://fonts.gstatic.com/s/lato/v13/eFRpvGLEW31oiexbYNx7Y_esZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local("Lato Hairline"), local("Lato-Hairline"), url(https://fonts.gstatic.com/s/lato/v13/GtRkRNTnri0g82CjKnEB0Q.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url(https://fonts.gstatic.com/s/lato/v13/dPJ5r9gl3kK6ijoeP1IRsvY6323mHUZFJMgTvxaG2iE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url(https://fonts.gstatic.com/s/lato/v13/EsvMC5un3kjyUhB9ZEPPwg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(https://fonts.gstatic.com/s/lato/v13/UyBMtLsHKBKXelqf4x7VRQ.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(https://fonts.gstatic.com/s/lato/v13/1YwB1sO8YE1Lyjf12WNiUA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(https://fonts.gstatic.com/s/lato/v13/ObQr5XYcoH0WBoUxiaYK3_Y6323mHUZFJMgTvxaG2iE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(https://fonts.gstatic.com/s/lato/v13/H2DMvhDLycM56KNuAtbJYA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"), url(https://fonts.gstatic.com/s/lato/v13/R4a6fty3waPci7C44H8AjvY6323mHUZFJMgTvxaG2iE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"), url(https://fonts.gstatic.com/s/lato/v13/tI4j516nok_GrVf4dhunkg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

body {
  overflow-x: hidden;
}

header {
  background: #353434;
}

.mainimage {
  background: url("../img/mainslide.jpg") center center no-repeat;
  height: 750px;
  width: auto;
  background-size: cover;
}
.mainimage__text {
  display: block;
  float: right;
  padding: 400px 350px 0 0;
}
.mainimage__text--head {
  font: 500 2.1875em "Lato", sans-serif;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.3);
  width: 100%;
  padding: 10px;
}
.mainimage__text--text {
  font: 500 2.1875em "Lato", sans-serif;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.3);
  width: 100%;
  padding: 10px;
}

.stripe__logo {
  margin: 7px auto auto auto;
  border-right: 1px solid grey;
  padding: 0 5px 0 0;
}
.stripe__list {
  margin: 10px auto auto auto;
}
.stripe__list a {
  font: 500 1em "Lato", sans-serif;
  color: #fff;
}
.stripe__list a:hover {
  color: #fff;
}
.stripe__list a:focus {
  color: #fff;
}
.stripe__social--item a {
  padding: 0px;
  margin: 10px auto;
}
.stripe__social--item a span {
  color: #fff;
  border: 2px solid #fff;
  padding: 7px 10px;
}

.mainmenusocial {
  text-align: right;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

/*sticky header*/
header {
  position: relative;
  width: 100%;
  height: 60px;
}

header.clone {
  position: fixed;
  top: -65px;
  left: 0;
  right: 0;
  z-index: 9999999;
  transition: 0.2s top cubic-bezier(0.3, 0.73, 0.3, 0.74);
}

body.down header.clone {
  top: 0;
}

/**/
.containerboxes {
  background: #f7f7f7;
}
.containerboxes__item {
  padding: 60px 0 30px 0;
}
.containerboxes__item--image {
  float: left;
  clear: both;
}
.containerboxes__item--boxestext {
  float: right;
  width: 80%;
}
.containerboxes__item--boxestext__head {
  font: 400 1.375em "Lato", sans-serif;
  color: #767676;
}
.containerboxes__item--boxestext__text {
  font: 400 0.9375em "Lato", sans-serif;
  color: #767676;
  width: 80%;
  line-height: 20px;
}
.containerboxes__item--boxestext__button {
  font: 400 0.875em "Lato", sans-serif;
  color: #767676;
}
.containerboxes__item--boxestext__button:hover {
  color: #767676;
  text-decoration: none;
}
.containerboxes__item--boxestext__button:focus {
  color: #767676;
  text-decoration: none;
}

/**/
/**/
.persontext {
  background: #3b3b3b;
  padding: 110px 0px 0px 110px;
}
.persontext__head {
  font: 500 1.875em "Lato", sans-serif;
  text-transform: uppercase;
  color: #fff;
}
.persontext__bigtext {
  font: 500 1em "Lato", sans-serif;
  line-height: 30px !important;
  color: #fff;
  text-align: justify;
  width: 77%;
}
.persontext__button {
  font: 500 1em "Lato", sans-serif;
  color: #fff;
}
.persontext__button:hover {
  color: #fff;
  text-decoration: none;
}

.personimage {
  max-width: 100%;
}
.personimage__item {
  width: 102%;
}

/**/
.contenttestimonials {
  margin: 85px auto 100px auto;
}
.contenttestimonials__head {
  font: 500 1.625em "Lato", sans-serif;
  text-transform: uppercase;
  color: #000;
  text-align: center;
  margin: 0 auto 83px 0px;
}
.contenttestimonials__text {
  font: 500 1.25em "Lato", sans-serif;
  color: #8f8e8e;
  line-height: 35px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.contenttestimonials__person {
  display: block;
  text-align: center;
  margin: 60px auto auto auto;
  font: 500 1em "Lato", sans-serif;
  color: #8f8e8e;
}

/**/
.takeaction {
  margin: 100px auto 101px auto;
}
.takeaction__head {
  font: 500 2.125em "Lato", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.takeaction__text {
  font: 400 1.0625em "Lato", sans-serif;
  text-align: center;
}
.takeaction__button {
  width: 261px;
  height: 55px;
  background: #65bf95;
  font: 400 1.25em "Lato", sans-serif;
  text-transform: uppercase;
  color: #fff;
  display: block;
  line-height: 55px;
  text-align: center;
  margin: 0 auto;
}
.takeaction__button:hover {
  color: #fff;
  text-decoration: none;
}
.takeaction__button:focus {
  color: #fff;
  text-decoration: none;
}

.hiddenform {
  display: none;
}

.hiddenform {
  background: #65bf95;
  margin: 20px auto auto auto;
  padding: 20px;
  width: 95%;
}
.hiddenform .form-group {
  margin: 0 auto 4px;
}
.hiddenform .col-10 {
  margin: 0px auto 4px auto;
}
.hiddenform .close {
  position: absolute;
  right: 15px;
  font-size: 40px;
  top: 145px;
}

.error {
  border: 2px solid red !important;
}

.formintem__name {
  width: 87% !important;
  margin: 0 auto;
  border-radius: 0px !important;
}
.formintem__email {
  width: 87% !important;
  margin: 0 auto;
  border-radius: 0px !important;
}
.formintem__phone {
  width: 87% !important;
  margin: 0 auto;
  border-radius: 0px !important;
}
.formintem__textaera {
  width: 70% !important;
  height: 200px;
  margin: 0 auto;
  border-radius: 0px !important;
}
.formintem__submitbutton {
  background: #3b3b3b !important;
  border: 1px solid #3b3b3b !important;
  cursor: pointer;
  border: 0px !important;
  margin: 10px auto 11px auto;
  display: block !important;
  width: 70%;
  text-transform: uppercase;
}
.formintem__submitbutton:focus {
  border: 0px #3b3b3b;
}
.formintem__texthidden {
  display: none;
  position: absolute;
  top: 7px;
  right: 80px;
}
.formintem__mail {
  display: none;
  position: absolute;
  top: 5px;
  right: 80px;
}
.formintem__phonetext {
  display: none;
  position: absolute;
  top: 5px;
  right: 80px;
}

/**/
footer {
  background: #f7f7f7;
  height: 275px;
  border-top: 1px solid #4f4f4f;
}

.copryight__image {
  margin: 100px auto 0 auto;
  text-align: center;
  display: block;
}
.copryight__item {
  line-height: 275px;
  font: 400 0.875em "Lato", sans-serif;
  color: #4f4f4f;
  padding: 0px;
  margin: 0 auto;
  text-align: center;
}
.copryight__item a {
  color: #4f4f4f;
}

.arrowup {
  position: fixed;
  top: 95%;
  right: 0px;
  text-decoration: none;
  font-size: 20px !important;
  color: #4f4f4f;
  border: 1px solid #000;
  padding: 5px;
  background: lightgray;
  color: #fff;
}
.arrowup:hover {
  text-decoration: none;
  color: #fff;
}
.arrowup:focus {
  text-decoration: none;
  color: #fff;
}

.menutriger {
  color: #fff;
  text-transform: uppercase;
  font: 400 0.875em "Lato", sans-serif;
  background: grey;
  width: 10%;
  display: none;
  line-height: 30px;
  height: 30px;
  text-align: center;
  float: right;
  margin: 15px 11px auto auto;
  cursor: pointer;
  position: relative;
  z-index: 99999;
}

/*.hamburger {
	width: 40px;
	height: 35px;
	border:0;
	border-top:5px solid #fff;
	background: transparent;
	position: relative;
	transition: 0.3s transform linear;
	cursor: pointer;
	z-index: 999;
	float: right;
	clear: both;
	display: none;
}
.hamburger:before, .hamburger:after {
	content:'';
	top:0px;
	left:0px;
	width: 100%;
	border-top:5px solid #fff;
	position: absolute;
	transform:translateY(10px);
}
 .hamburger:after {
	 transform:translateY(25px);
	 transition: 0.3s transform linear;
 }
 .hamburger:focus {
	 transform:rotate(45deg) translateY(5px);
	 border:none;
 }
 .hamburger:focus:after{
	 transform:rotate(-90deg) translateX(-10px);
 }
 .menusectionShow:focus{
	 right: -100%;
 }*/
