/* Large DESKTOP
========================================================================== */
@media screen and (min-width:1366px) and (max-width:1920px) {

}
/* Small DESKOTOP
========================================================================== */
@media screen and (min-width:1024px) and (max-width:1199px) {
    .personimage__item {
        max-width: 50% !important;
    }
    .mainmenusocial {
        margin: -90px auto;
    }
    .stripe__list {
        position: relative;
        top: -45px;
        left: 90px;
    }
}
@media screen and (min-width:1024px) and (max-width:1365px) {
    .person .personimage {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .personimage__item {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .mainimage {
        height: 500px;
    }
    .containerboxes .row {
        margin: 0 auto;
    }
    .mainimage__text {
        margin: 0 auto;
        padding: 170px 0px;
        float: none;
        text-align: center;
    }
  .hamburger {
   display: block;
   margin-right: 15px;
   margin-top: 10px;
  }
  .stripe__logo {
      border:none;
  }
  .stripe__list {
      display: block;
  }
  .mainmenusocial {
      display: block;
  }
  .containerboxes__item--image {
      float: none;
      margin: 0 auto;
      text-align: center;
      display: block;
  }
    .containerboxes__item--boxestext {
        float: none;
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    .containerboxes__item--boxestext__text {
        margin: 0 auto;
        text-align: center;
        width: 80%;
    }
    .containerboxes__item {
        padding: 10px 0 11px 0;
    }
    /**/
    .contenttestimonials {
        padding: 10px 0 11px 0;
        margin: 0 auto;
    }
    .contenttestimonials__head {
        margin: 0;
    }
    .personimage__item {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
    .persontext {
        display: block;
        margin: 0 auto;
        padding-bottom: 70px;
        width: 48%;
    }
    .persontext__head {
        text-align: center;
    }
    .persontext__bigtext {
        text-align: center;
        width: 95%;
        margin: 0 auto;
    }
    .persontext__button {
        margin: 30px auto;
        display: block;
        text-align: center;
    }
    /**/
}
/* TABLETS/Small DESKTOP
========================================================================== */
@media screen and (min-width:768px) and (max-width:1023px) {
    .personimage__item {
        width: 72% !important;
    }
     .mainimage {
        height: 500px;
    }
    .containerboxes .row {
        margin: 0 auto;
    }
    .mainimage__text {
        margin: 0 auto;
        padding: 170px 0px;
        float: none;
        text-align: center;
    }
  .menutriger {
   display: block;
   margin-right: 15px;
   margin-top: 10px;
  }
  .stripe__logo {
      border:none;
  }
  .stripe__list {
      position: absolute;
      justify-content: flex-end;
      display: flex;
      right: -500px;
      background: #353434;
      width: 30%;
      text-align: center;
      flex-direction: column;
  }
    
    .active__menu {
        right: -120px !important;
        top: 68px;
    }
  .mainmenusocial {
      position: absolute; 
      width: 30%;
      justify-content: flex-end;
      display: flex;
      right: -500px;
      background: #353434;
      margin: 149px auto auto auto;
      flex-direction: column;
      text-align: center;
  }
  .containerboxes__item--image {
      float: none;
      margin: 0 auto;
      text-align: center;
      display: block;
  }
    .containerboxes__item--boxestext {
        float: none;
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    .containerboxes__item--boxestext__text {
        margin: 0 auto;
        text-align: center;
        width: 80%;
    }
    .containerboxes__item {
        padding: 10px 0 11px 0;
    }
    /**/
    .contenttestimonials {
        padding: 10px 0 11px 0;
        margin: 0 auto;
    }
    .contenttestimonials__head {
        margin: 0;
    }
    .personimage__item {
        display: block;
        margin: 0 auto;
        width: 72%;
    }
    .persontext {
        display: block;
        margin: 0 auto;
        padding-bottom: 70px;
        width: 70%;
    }
    
    .persontext__head {
        text-align: center;
    }
    .persontext__bigtext {
        text-align: center;
        width: 95%;
        margin: 0 auto;
    }
    .persontext__button {
        margin: 30px auto;
        display: block;
        text-align: center;
    }
        .formintem__texthidden {
        display: none;
    }
    .formintem__mail {
        display: none;
    }
    .formintem__phonetext {
        display: none;
    }
    /**/
}
/* TABLETS
========================================================================== */
@media screen and (min-width:480px) and (max-width:767px) {
    .menutriger{
        width: 15%;
    }
    .stripe__list {
      position: absolute;
      justify-content: flex-end;
      display: flex;
      right: -500px;
      background: #353434;
      width: 50%;
      text-align: center;
      flex-direction: column;
  }
    
    .active__menu {
        right: -120px !important;
        top: 68px;
    }
  .mainmenusocial {
      position: absolute; 
      width: 50%;
      justify-content: flex-end;
      display: flex;
      right: -500px;
      background: #353434;
      margin: 149px auto auto auto;
      flex-direction: column;
      text-align: center;
  }
      .menutriger {
   display: block;
   margin-right: 15px;
   margin-top: 10px;
  }
     .mainimage {
        height: 500px;
    }
 .containerboxes .row {
        margin: 0 auto;
    }
    .mainimage__text {
        margin: 0 auto;
        padding: 135px 0px;
        float: none;
        text-align: center;
    }
  .hamburger {
   display: block;
   margin-right: 15px;
   margin-top: 10px;
  }
  .stripe__logo {
      border:none;
  }
  .containerboxes__item--image {
      float: none;
      margin: 0 auto;
      text-align: center;
      display: block;
  }
    .containerboxes__item--boxestext {
        float: none;
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    .containerboxes__item--boxestext__text {
        margin: 0 auto;
        text-align: center;
        width: 80%;
    }
    .containerboxes__item {
        padding: 10px 0 11px 0;
    }
    /**/
    .contenttestimonials {
        padding: 10px 0 11px 0;
        margin: 0 auto;
    }
    .contenttestimonials__head {
        margin: 0;
    }
    .personimage__item {
        display: block;
        margin: 0 auto;
        width: 72%;
    }
    .persontext {
        display: block;
        margin: 0 auto;
        padding-bottom: 70px;
        width: 70%;
    }
    .persontext__head {
        text-align: center;
    }
    .persontext__bigtext {
        text-align: center;
        width: 95%;
        margin: 0 auto;
    }
    .persontext__button {
        margin: 30px auto;
        display: block;
        text-align: center;
    }
        .formintem__texthidden {
        display: none;
    }
    .formintem__mail {
        display: none;
    }
    .formintem__phonetext {
        display: none;
    }
    /**/
}
/* SMARTFONES
========================================================================== */
@media screen and (min-width:240px) and (max-width:479px) {
    .stripe__list {
      position: absolute;
      justify-content: flex-end;
      display: flex;
      right: -500px;
      background: #353434;
      width: 100%;
      text-align: center;
      flex-direction: column;
  }
    
    .active__menu {
        right: 50px !important;
        left: 50px !important;
        top: 68px;
    }
  .mainmenusocial {
      position: absolute; 
      width: 100%;
      justify-content: flex-end;
      display: flex;
      right: -500px;
      background: #353434;
      margin: 149px auto auto auto;
      flex-direction: column;
      text-align: center;
  }
      .menutriger {
   display: block;
   margin-right: 15px;
   margin-top: 15px;
          width: 30%;
  }
    .hamburger {
        display: block;
        margin-right: 15px;
        margin-top: 10px;
    }
    .row {
        margin: 0;
    }
    /**/
    .mainimage {
        height: 300px;
    }
    .mainimage__text {
        padding: 65px 0px 0px 0px;
        float: none;
        margin: 0px auto;
        text-align: center;
        font-size: 1.2em;  
    }
    .mainimage__text--head {
        font-size: 1.2em;
    }
    .mainimage__text--text{
        font-size: 1.2em;
    }
    .stripe__logo {
        border:none;
    }
    /**/
    .persontext {
        margin: 0 auto;
        height: auto;
        padding: 0px;
        width: 90%;
    }
    .personimage__item {
        width: 100%;
        margin: 0 auto;
        display: block;
        text-align: center;
    }
    .persontext__head {
        font-size: 1em;
        text-align: center;
        margin: 10px auto 15px;
    }
    .persontext__bigtext {
        width: 80%;
        margin: 0 auto 15px;
        font-size: 0.950em;
    }
    .persontext__button {
        display: block;
        text-align: center;
        margin: auto auto 15px;
    }
    /**/
    .takeaction {
        margin: 10px auto;
        width: 95%;
    }
    .takeaction__head {
        font-size: 1em;
        text-align: center;
    }
    .takeaction__button {
        width: 100%;
    }
    .hiddenform {
        width: 100%;
    }
    .formintem .col-10 {
        display: table-header-group;
        margin: 0;
        padding: 0;
        width: 100%;
        }
    .formintem__email, .formintem__name, .formintem__phone {
        width: 100% !important;
        display: block;
    }
    .hiddenform .col-10, .hiddenform .form-group {
        padding: 0;
        display: table-header-group;
        margin: 0;
    }
    form {
        padding: 20px 0 0 0;
    }
    /**/
    .contenttestimonials {
        margin: 15px auto 14px auto;
    }
    .contenttestimonials__head {
        margin: 0 auto;
    }
    .contenttestimonials__text {
        margin: 10px auto;
        width: 80%;
        text-align: center;
        line-height: 25px;
    }
    .contenttestimonials__person{
        margin: 15px auto;
    }
    .containerboxes__item {
        padding: 10px 0 11px 0;
    }
    .containerboxes__item--image {
        float: none;
        text-align: center;
        display: block;
        margin: 0 auto 15px;
    }
    .containerboxes__item--boxestext{
        float: none;
        width: 95%;
        text-align: center;
        margin: 0 auto;
    }
    .containerboxes__item--boxestext__text{
        margin: 0 auto;
        width: 100%;
        line-height: 30px;
    }
    .formintem__submitbutton{
        width: 100%;
    }
    .formintem__textaera{
        width: 100% !important;
    }
    .formintem__email{
         width: 100% !important;
    }
    .hiddenform {
        margin: 0 auto;
    }
    .hiddenform .close {
        right: 0px;
        top: 170px;
    }
    .formintem__texthidden {
        display: none;
    }
    .formintem__mail {
        display: none;
    }
    .formintem__phonetext {
        display: none;
    }
}
