/*imports*/
@import '../sass/helpers/__reset.scss';
@import '../sass/helpers/__functions.scss';
@import '../sass/helpers/__typography.scss';
@import '../sass/helpers/__mixins.scss';
@import '../sass/helpers/__fonts.scss';
@import '../sass/helpers/__pagewrapper.scss';
body {
    overflow-x: hidden;
}
header {
	background: #353434;
}
.mainimage {
	@include mainimagesettings;
	&__text{
		@include mainimagetexttest;
		&--head {
			@include mainimagehead;
		}
		&--text{
			@include mainimagetext;
		}
	}
}
.stripe {
    &__logo {
        @include stripelogo;
    }
	&__list {
        margin: 10px auto auto auto;
		a{
			@include stripelista;
			&:hover {
				color: #fff;
			}
			&:focus{
				color: #fff;
			}
		}
	}
	&__social{
		&--item {
			a{
				padding: 0px;
				margin: 10px auto;
				span{
					color: #fff;
					border: 2px solid #fff;
					padding: 7px 10px;

				}
			}

		}
	}
}
.mainmenusocial {
	@include mainmenusocial;
}
/*sticky header*/
header {
   position: relative;
   width: 100%;
   height: 60px;
}

header.clone {
  position: fixed;
    top: -65px;
    left: 0;
    right: 0;
    z-index: 9999999;
    transition: 0.2s top cubic-bezier(.3,.73,.3,.74);
}

body.down header.clone {
  top: 0;
}
/**/
.containerboxes {
	background: #f7f7f7;
	&__item {
		padding: 60px 0 30px 0;
		&--image {
			float: left;
			clear: both;
		}
		&--boxestext {
			float: right;
			width: 80%;
			&__head {
				@include containerboxeshead;
			}
			&__text {
				@include containerboxestext;
			}
			&__button {
				@include containerboxesbutton;
				&:hover {
					color: #767676;
					text-decoration: none;
				}
				&:focus {
					color: #767676;
					text-decoration: none;
				}
			}
		}
	}
}
/**/
/**/
.persontext {
	@include persontextsettings;
	&__head {
		@include persontexthead;
	}
	&__bigtext{
		@include persontextbigtext;
	}
	&__button {
		@include persontextbutton;
		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}
}
.personimage {
	max-width: 100%;
	&__item {
		width: 102%;
	}
}
/**/
.contenttestimonials {
	margin: 85px auto 100px auto;
	&__head {
		@include contenttestimonialshead;
	}
	&__text {
		@include contenttestimonialstext;
	}
	&__person {
		@include contenttestimonialsperson;
	}
}
/**/
.takeaction {
	margin: 100px auto 101px auto;
	&__head {
		@include takeactionHead;
	}
	&__text {
		@include takeactiontext;
	}
	&__button {
	    @include takeactionbutton;
		&:hover {
			color: #fff;
			text-decoration: none;
		}
		&:focus {
			color: #fff;
			text-decoration: none;
		}
	}
}
.hiddenform {
	display: none;
}
.hiddenform {
	@include hiddenformsettings;
	.form-group {
		margin: 0 auto 4px;
	}
	.col-10 {
		margin: 0px auto 4px auto;
	}
	.close {
		@include hiddenformclose;
	}
}
.error {
	border:2px solid red !important;
}
.formintem {
	&__name {
		@include formintemName;
	}
	&__email {
		@include formintemEmail;
	}
	&__phone{
		@include formintemPhone;
	}
	&__textaera{
		@include formintemTextarea;
	}
	&__submitbutton{
		@include formintemsubmitbutton;
		&:focus {
			border:0px #3b3b3b;
		}
	}
	&__texthidden {
		@include formintemtexthidden;
	}
	&__mail {
		@include formintemmail;
	}
	&__phonetext {
		@include formintemphonetext;
	}
}
/**/
footer {
	@include footersettings;
}
.copryight {
	&__image {
		@include copyrightimg;
	}
	&__item {
		@include copryightitem;
		a {
			color: #4f4f4f;
		}
	}
}
.arrowup {
	@include arrowup;
	&:hover {
		text-decoration: none;
		color: #fff;
	}
	&:focus{
		text-decoration: none;
		color: #fff;
	}
}
.menutriger {
    @include menutriger;
}
/*.hamburger {
	width: 40px;
	height: 35px;
	border:0;
	border-top:5px solid #fff;
	background: transparent;
	position: relative;
	transition: 0.3s transform linear;
	cursor: pointer;
	z-index: 999;
	float: right;
	clear: both;
	display: none;
}
.hamburger:before, .hamburger:after {
	content:'';
	top:0px;
	left:0px;
	width: 100%;
	border-top:5px solid #fff;
	position: absolute;
	transform:translateY(10px);
}
 .hamburger:after {
	 transform:translateY(25px);
	 transition: 0.3s transform linear;
 }
 .hamburger:focus {
	 transform:rotate(45deg) translateY(5px);
	 border:none;
 }
 .hamburger:focus:after{
	 transform:rotate(-90deg) translateX(-10px);
 }
 .menusectionShow:focus{
	 right: -100%;
 }*/
