@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin fontNew {
    font-size:em($font-size-ninetysix_pixels);
    text-transform: uppercase;
    font-weight: $normal-weight;
 
}
@mixin mainimagesettings {
    background: url('../img/mainslide.jpg') center center no-repeat;
	height: 750px;
	width: auto;
	background-size: cover;
}
@mixin mainimagetexttest {
    display: block;
	float: right;
	padding: 400px 350px 0 0;
}
@mixin mainimagehead {
    font:$medium-weight em($font-size-thirtyfive_pixels) 'Lato', sans-serif;
	text-transform: uppercase;
	background: rgba(255,255,255,0.3);
	width: 100%;
	padding: 10px;
}
@mixin mainimagetext {
    font:$medium-weight em($font-size-thirtyfive_pixels) 'Lato', sans-serif;
	text-transform: uppercase;
	background: rgba(255,255,255,0.3);
	width: 100%;
	padding: 10px;
}
@mixin stripelogo {
    margin: 7px auto auto auto;
    border-right:1px solid grey;
    padding: 0 5px 0 0;
}
@mixin stripelista{
    font:$medium-weight em($font-size-sixteen_pixels) 'Lato', sans-serif;
	color: #fff;
}
@mixin mainmenusocial {
    text-align: right;
	justify-content: flex-end;
}

@mixin containerboxeshead {
    font: $normal-weight em($font-size-twentytwo_pixels) 'Lato', sans-serif;
	color: #767676;
}
@mixin containerboxestext {
    font: $normal-weight em($font-size-fifteen_pixels) 'Lato', sans-serif;
	color: #767676;
	width: 80%;
    line-height: 20px;
}
@mixin containerboxesbutton {
    font: $normal-weight em($font-size-fourteen_pixels) 'Lato', sans-serif;
	color: #767676;
}
@mixin persontextsettings {
    background: #3b3b3b;
	padding: 110px 0px 0px 110px;
}
@mixin persontexthead {
    font: $medium-weight em($font-size-thirty_pixels) 'Lato', sans-serif;
	text-transform: uppercase;
	color: #fff;
}
@mixin persontextbigtext{
    font: $medium-weight em($font-size-sixteen_pixels) 'Lato', sans-serif;
	line-height: 30px !important;
	color: #fff;
	text-align: justify;
    width: 77%;
}
@mixin persontextbutton {
    font: $medium-weight em($font-size-sixteen_pixels) 'Lato', sans-serif;
	color: #fff;
}
@mixin contenttestimonialshead {
    font: $medium-weight em($font-size-twentysix_pixels) 'Lato', sans-serif;
	text-transform: uppercase;
	color: #000;
	text-align: center;
	margin: 0 auto 83px 0px;
}
@mixin contenttestimonialstext {
    font: $medium-weight em($font-size-twenty_pixels) 'Lato', sans-serif;
	color: #8f8e8e;
	line-height: 35px;
	text-align: center;
	width: 80%;
	margin: 0 auto;
}
@mixin contenttestimonialsperson {
    display: block;
	text-align: center;
	margin: 60px auto auto auto;
	font: $medium-weight em($font-size-sixteen_pixels) 'Lato', sans-serif;
	color: #8f8e8e;
}
@mixin takeactionHead {
    font: $medium-weight em($font-size-thirtyfour_pixels) 'Lato', sans-serif;
	text-align: center;
	text-transform: uppercase;
}
@mixin takeactiontext{
    font: $normal-weight em($font-size-seventeen_pixels) 'Lato', sans-serif;
    text-align: center;
}
@mixin takeactionbutton {
    width: 261px;
	height: 55px;
	background: #65bf95;
	font: $normal-weight em($font-size-twenty_pixels) 'Lato', sans-serif;
	text-transform: uppercase;
	color: #fff;
	display: block;
	line-height: 55px;
	text-align: center;
	margin: 0 auto;
}
@mixin hiddenformsettings {
    background: #65bf95;
	margin: 20px auto auto auto;
	padding: 20px;
	width: 95%;
}
@mixin hiddenformclose {
    position: absolute;
	right: 15px;
	font-size: 40px;
	top: 145px;
}
@mixin formintemName {
    width: 87% !important;
	margin: 0 auto;
	border-radius: 0px !important;
}
@mixin formintemEmail {
    width: 87% !important;
	margin: 0 auto;
	border-radius: 0px !important;
}
@mixin formintemPhone {
    width: 87% !important;
	margin: 0 auto;
	border-radius: 0px !important;
}
@mixin formintemTextarea {
    width: 70% !important;
	height: 200px;
	margin: 0 auto;
	border-radius: 0px !important;
}
@mixin formintemsubmitbutton {
    background: #3b3b3b !important;
	border:1px solid #3b3b3b !important;
	cursor: pointer;
	border:0px !important;
	margin: 10px auto 11px auto;
	display: block !important;
	width: 70%;
	text-transform: uppercase;
}
@mixin formintemtexthidden {
    display: none;
	position: absolute;
    top: 7px;
    right: 80px;
}
@mixin formintemmail{
    display: none;
	position: absolute;
    top: 5px;
    right: 80px;
}
@mixin formintemphonetext {
    display: none;
	position: absolute;
    top: 5px;
    right: 80px;
}
@mixin footersettings {
    background: #f7f7f7;
	height: 275px;
	border-top: 1px solid #4f4f4f;
}
@mixin copyrightimg {
    margin: 100px auto 0 auto;
    text-align: center;
	display: block;
}
@mixin copryightitem {
    line-height: 275px;
	font: $normal-weight em($font-size-fourteen_pixels)'Lato', sans-serif;
	color: #4f4f4f;
	padding: 0px;
	margin: 0 auto;
	text-align: center;
}
@mixin arrowup {
    position: fixed;
	top: 95%;
	right: 0px;
	text-decoration: none;
	font-size: 20px !important;
	color: #4f4f4f;
	border:1px solid #000;
	padding: 5px;
	background: lightgray;
	color: #fff;
}
@mixin menutriger {
    color: #fff;
    text-transform: uppercase;
    font: $normal-weight em($font-size-fourteen_pixels)'Lato', sans-serif; 
    background: grey;
    width: 10%;
    display: none;
    line-height: 30px;
    height: 30px;
    text-align: center;
    float: right;
    margin: 15px 11px auto auto;
    cursor: pointer;
    position: relative;
    z-index: 99999;
}